.footer {
  background-color: #343A40;
  padding: 50px;
  text-align: center;
}
.footer a {
  font-size: 32px;
  color:rgba(204, 224, 247,.4);
  padding: 10px;
}

.footer a:hover {
  text-shadow: 0 0 2px rgba(204, 224, 247,.4);
}

.footer p {
  color: #CED4DA;
}

.footer-copyright {
  color: #e9ecef;
  &:hover {
    text-shadow: 0 0 2px rgba(204, 224, 247,.4)
  }
}
